@{
    ViewBag.Title = "Kontakt";
}

<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title">Kontakt</h2>
            <p class="meta"><span class="date">Komiteens medlemmer</span></p>
            <div style="clear: both;">&nbsp;</div>
            <div class="entry">

                <section class="contact">
                    <header>
                        <h3>Epost</h3>
                    </header>
                    <p>
                        <span class="label">Brian Solli</span>
                        <span><a href="mailto:brian.solli@webstep.no">brian.solli@webstep.no</a></span>
                    </p>
                    <p>
                        <span class="label">Jahn Even Cox</span>
                        <span><a href="mailto:jahn.even.cox@webstep.no">jahn.even.cox@webstep.no</a></span>
                    </p>
                    <p>
                        <span class="label">Henning Hommeland:</span>
                        <span><a href="mailto:henning.hommeland@webstep.no">henning.hommeland@webstep.no</a></span>
                    </p>
                </section>

            </div>
        </div>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
