@{
    ViewBag.Title = "Hjem";
}
<div id="banner-wrapper"></div>
<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title"><a href="#">Velkommen til fagkomiteen </a></h2>
            <p class="meta"><span class="date">10 Oktober, 2012</span></p>
            <div style="clear: both;">&nbsp;</div>
            <div class="entry">
                <p>
                    Velkommen til vår lille lekegrind på verdensveven. Vi er fagkomiteen i <a href="http://www.webstep.no">Webstep</a>, avdeling Stavanger. 
                </p>
            </div>
        </div>
    </div>
    <!-- end #content -->
    <div id="sidebar">
        <ul>
            <li>
                <h2>ARRANGEMENTER</h2>
                <ul>
                    <li><a href="#">Faghelg "Hackaton"</a><br />
                        24-25 november<br />
                        <b>Sola Strand Hotell</b>
                    </li>
                    <li><a href="#">Fagkveld "Alternativ"</a><br />
                        Januar<br />
                        <b>Salza</b>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
