@{
    ViewBag.Title = "Lekegrind";
}
<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title"><a href="#">Lekegrinden </a></h2>
            <p class="meta"><span class="date">Restfulle tjenester</span></p>
            <div style="clear: both;">&nbsp;</div>
            <div class="entry">
                <p>
                    Vår lille lekegrind har som formål å tilby Websteps ansatte et fast sted hvor man konsumere restbaserte tjenester til egenutvikling, testing, demo etc..
                </p>
                <p>
                    Tjenestene hostes via WebApi og kan returnere Json/XML alt etter forespørsel. 
                </p>
            </div>
        </div>
    </div>
    <!-- end #content -->
    <div id="sidebar">
        <ul>
            <li>
                <h2>TJENESTER</h2>
                <ul>
                    <li><b><a href="http://www.fagkomiteen.no/api/person">Personer i Webstep</a></b><br />
                        http://www.fagkomiteen.no/api/person<br />
                        Tjeneste som tilbyr de ansatte i Webstep Stavanger
                    </li>
                    
                </ul>
            </li>
        </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
