@{
    ViewBag.Title = "Fagkveld";
}

<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title">Fagkveld</h2>
            <p class="meta"><span class="date">Uformell samling på Salza</span></p>
            <div style="clear: both;">&nbsp;</div>
            <div class="entry">
                <p>
                   Mer info kommer
                </p>
            </div>
        </div>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
